<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/login_style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Book<br>Dynasty</h1>
        </div>
        <div class="login_container">
            <form>
                <input name="email" type="email" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <button>LOGIN</button>
            </form>
        </div>
    </div>
</body>